*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightblue; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 {
    height: 470px;
    width: 46vw;
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: -10px;
}

.div2 {
    padding: 50px;
}

.div2 label {
    font-size: 16px;
}

button {
    background-color: white;
    border-radius: 5px;
    width: 150px;
    top: 20px;
}
