@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	border:0;
	}
button{
	margin:9px;
	padding:9px;
	border:outset 3px #999999;
	width:200px;
	height:200px;
}

button:hover {
    border:inset 3px #999999;
    cursor: pointer;
}

section{
	border:1px solid blue;
	font-size:3em;
}